@use "./globals" as *;

body {
	background-color: $bg-clr;
	height: 100vh;
	font-family: $font-stack;
	color: white;
	position: relative;
}

h1 {
	text-align: center;
	margin-bottom: 1.5rem;
	font-size: 3rem;
}

button {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	font-family: $font-stack;
	background-color: $btn-bg-clr;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0 5px darken($btn-bg-clr, 25%);
	transition: all 0.1s ease;
}

button:active {
	transform: translateY(5px);
	box-shadow: 0 0;
}

span {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.container {
	display: grid;
	place-content: center;
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	position: relative;
}
