body {
	background-color: #121818;
	height: 100vh;
	font-family: sans-serif;
	color: white;
	position: relative;
}

h1 {
	text-align: center;
	margin-bottom: 1.5rem;
}

button {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
}

.container {
	display: grid;
	place-content: center;
	width: 90%;
	height: 100vh;
	margin: 0 auto;
}
