.btns {
	&__wrapper {
		display: flex;
		gap: 10px;
		position: relative;
	}

	&__play-wrapper {
		position: relative;
	}

	&__play {
		top: 50px;
		animation-delay: 1s;
		animation-name: move-up;
	}

	&--history {
		margin-bottom: 1.5rem;
	}

	&--x,
	&--o,
	&__play {
		position: absolute;
		opacity: 0;
		animation-duration: 0.8s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
		visibility: hidden;
	}

	&--x,
	&--o {
		max-width: 115px;
	}

	&--x {
		left: -50px;
		animation-name: move-right;
	}

	&--o {
		right: -50px;
		animation-name: move-left;
	}
}
