@keyframes move-up {
	from {
		top: 50px;
		opacity: 0;
		visibility: hidden;
	}

	to {
		top: 0;
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-right {
	from {
		left: -50px;
		opacity: 0;
		visibility: hidden;
	}

	to {
		left: 0;
		opacity: 1;
		visibility: visible;
	}
}

@keyframes move-left {
	from {
		right: -50px;
		opacity: 0;
		visibility: hidden;
	}

	to {
		right: 0;
		opacity: 1;
		visibility: visible;
	}
}

@keyframes scale {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}
