@use "./globals" as *;

.tile {
	border: 2px solid $tile-border-clr;
	display: grid;
	place-content: center;
	font-size: 4em;

	&:hover {
		background-color: lighten($bg-clr, 10%);
	}

	&:first-of-type,
	&:nth-of-type(2),
	&:nth-of-type(3) {
		border-top: none;
	}

	&:first-of-type,
	&:nth-of-type(4),
	&:nth-of-type(7) {
		border-left: none;
	}

	&:nth-of-type(3),
	&:nth-of-type(6),
	&:nth-of-type(9) {
		border-right: none;
	}

	&:nth-of-type(7),
	&:nth-of-type(8),
	&:nth-of-type(9) {
		border-bottom: none;
	}
}
