@use "./globals" as *;

.hide {
	display: none;
}

.blur {
	filter: blur(8px);
}

.fade {
	opacity: 1;
}

.disabled {
	background-color: lighten($btn-bg-clr, 15%);
	transform: translateY(5px);
	box-shadow: none;
}
