@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");

$font-stack: "Roboto", sans-serif;
$header-bg-clr: #eff7f8;
$accent-clr: #013636;
$form-txt-clr: #3b7885;
$secondary-txt-clr: #58959d;
