@use "config" as *;
@use "reset";
@use "base";
@use "utilities" as *;

.survey-form-header {
	h1 {
		margin-bottom: 10px;
	}

	span {
		font-weight: 300;
	}

	#description {
		font-style: italic;
		margin-bottom: 50px;
	}
}

.header-illustration {
	display: none;
}

#survey-form {
	padding: 50px;
}

.form-control {
	color: $form-txt-clr;
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;

	label {
		margin-bottom: 15px;
		color: $accent-clr;
	}

	input,
	select {
		max-width: 550px;
		color: $form-txt-clr;
		outline: 1px solid $secondary-txt-clr;
	}

	input:focus {
		@include set-border-color($secondary-txt-clr);
	}

	select {
		width: 100%;
		padding: 5px;
		font-size: 14px;
	}

	textarea {
		@include set-border-color($accent-clr);
		font-family: $font-stack;
		font-size: 14px;
		outline: 1px solid $accent-clr;
		border-radius: 3px;
		max-width: 550px;
		min-height: 200px;
		margin-bottom: 10px;
		padding: 7px;
		resize: none;
	}

	button {
		font-size: 16px;
		font-weight: bold;
		color: #ffffff;
		background-color: $accent-clr;
		border: none;
		border-radius: 3px;
		max-width: 550px;
		padding: 10px 40px;
		cursor: pointer;
		transition: background 0.3s;
	}

	button:hover {
		background-color: lighten($accent-clr, 10%);
	}

	[type="text"],
	[type="email"],
	[type="number"],
	#dropdown {
		@include set-border-color(#d6d9dc);
		background-color: #eff7f8;
		border-radius: 3px;
		width: 100%;
		padding: 7px;
		font-size: 14px;
	}
}

.radio-form-control {
	border: none;
	margin-bottom: 40px;

	legend {
		color: $accent-clr;
		margin-bottom: 15px;
	}

	label {
		font-size: 14px;
		padding: 0 20px 0 10px;
		color: $form-txt-clr;
	}

	input[type="radio"] {
		margin-top: 2px;
	}

	label,
	input[type="radio"] {
		float: left;
	}
}

.checkbox {
	&__options {
		margin-top: 5px;

		input {
			outline: none;
		}
	}

	&__options--left,
	&__options--right {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 850px) {
	.survey-form-header {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	#title-container {
		flex: 1;
	}

	.header-illustration {
		display: block;
		flex: 1;
	}

	.checkbox__options {
		display: flex;

		&--left {
			margin-right: 50px;
		}
	}
}

@media (min-width: 1100px) {
	.container {
		display: flex;
		width: 70%;
	}

	.header-container,
	#survey-form {
		padding: 100px 50px;
		flex: 1;
	}

	.survey-form-header {
		flex-direction: column;
	}

	.header-illustration {
		margin-top: 30px;
	}

	.form-control {
		margin-bottom: 20px;

		label {
			margin-bottom: 7px;
		}
	}
}
