@use "config" as *;
@use "reset";

body {
	font-family: $font-stack;
}

img {
	width: 100%;
}

::placeholder {
	color: #58959d;
}

.container {
	width: 80%;
	margin: 50px auto;
	border-radius: 10px;
}

.header-container {
	padding: 50px;
	background-color: #eff7f8;
	border-radius: 10px;
}

.survey-form-header {
	color: #013636;

	h1 {
		margin-bottom: 10px;
	}

	span {
		font-weight: 300;
	}

	#description {
		font-style: italic;
		margin-bottom: 50px;
	}
}

.header-illustration {
	background-color: #eff7f8;
	display: none;
}

#survey-form {
	padding: 50px;
}

.form-control {
	color: #3b7885;
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;

	label {
		margin-bottom: 15px;
	}

	select {
		width: 100%;
		padding: 5px;
		font-size: 14px;
	}

	textarea {
		font-family: $font-stack;
		font-size: 14px;

		border: 1px solid #013636;
		border-radius: 3px;

		min-height: 200px;
		margin-bottom: 10px;
		padding: 7px;
		resize: none;
	}

	button {
		font-size: 16px;
		font-weight: bold;

		color: #ffffff;
		background-color: #013636;

		border: none;
		border-radius: 3px;

		padding: 10px 40px;
		cursor: pointer;

		transition: background 0.3s;
	}

	button:hover {
		background-color: lighten(#013636, 10%);
	}

	[type="text"],
	[type="email"],
	[type="number"],
	#dropdown {
		background-color: #eff7f8;
		border: 1px solid #d6d9dc;
		border-radius: 3px;
		width: 100%;
		padding: 7px;
		font-size: 14px;
	}
}

.radio-form-control {
	border: none;
	margin-bottom: 40px;

	legend {
		margin-bottom: 15px;
	}

	label {
		display: block;
		font-size: 14px;
		padding: 0 20px 0 10px;
	}

	input[type="radio"] {
		margin-top: 2px;
	}

	label,
	input[type="radio"] {
		float: left;
	}
}

@media (min-width: 1000px) {
	.container {
		display: flex;
		width: 70%;
	}

	.header-container {
		padding-top: 100px;
		flex: 1;
	}

	.header-illustration {
		margin-top: 120px;
	}

	.form-control {
		margin-bottom: 20px;

		label {
			margin-bottom: 7px;
		}
	}

	.header-illustration {
		display: block;
	}

	#survey-form {
		flex: 1;
	}
}
