@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

::placeholder {
  color: #58959d;
}

.container {
  width: 80%;
  margin: 50px auto;
  border-radius: 10px;
}

.header-container {
  padding: 50px;
  background-color: #eff7f8;
  border-radius: 10px;
}

.survey-form-header h1 {
  margin-bottom: 10px;
}
.survey-form-header span {
  font-weight: 300;
}
.survey-form-header #description {
  font-style: italic;
  margin-bottom: 50px;
}

.header-illustration {
  display: none;
}

#survey-form {
  padding: 50px;
}

.form-control {
  color: #3b7885;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-control label {
  margin-bottom: 15px;
  color: #013636;
}
.form-control input,
.form-control select {
  max-width: 550px;
  color: #3b7885;
  outline: 1px solid #58959d;
}
.form-control input:focus {
  border: 1px solid #58959d;
}
.form-control select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}
.form-control textarea {
  border: 1px solid #013636;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: 1px solid #013636;
  border-radius: 3px;
  max-width: 550px;
  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}
.form-control button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #013636;
  border: none;
  border-radius: 3px;
  max-width: 550px;
  padding: 10px 40px;
  cursor: pointer;
  transition: background 0.3s;
}
.form-control button:hover {
  background-color: #026868;
}
.form-control [type=text],
.form-control [type=email],
.form-control [type=number],
.form-control #dropdown {
  border: 1px solid #d6d9dc;
  background-color: #eff7f8;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.radio-form-control {
  border: none;
  margin-bottom: 40px;
}
.radio-form-control legend {
  color: #013636;
  margin-bottom: 15px;
}
.radio-form-control label {
  font-size: 14px;
  padding: 0 20px 0 10px;
  color: #3b7885;
}
.radio-form-control input[type=radio] {
  margin-top: 2px;
}
.radio-form-control label,
.radio-form-control input[type=radio] {
  float: left;
}

.checkbox__options {
  margin-top: 5px;
}
.checkbox__options input {
  outline: none;
}
.checkbox__options--left, .checkbox__options--right {
  display: flex;
  flex-direction: column;
}

@media (min-width: 850px) {
  .survey-form-header {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  #title-container {
    flex: 1;
  }

  .header-illustration {
    display: block;
    flex: 1;
  }

  .checkbox__options {
    display: flex;
  }
  .checkbox__options--left {
    margin-right: 50px;
  }
}
@media (min-width: 1100px) {
  .container {
    display: flex;
    width: 70%;
  }

  .header-container,
#survey-form {
    padding: 100px 50px;
    flex: 1;
  }

  .survey-form-header {
    flex-direction: column;
  }

  .header-illustration {
    margin-top: 30px;
  }

  .form-control {
    margin-bottom: 20px;
  }
  .form-control label {
    margin-bottom: 7px;
  }
}

/*# sourceMappingURL=styles.css.map */
