.focus {
	&__title {
		font-weight: normal;
		font-size: 1.2rem;
	}

	&__input {
		width: 100%;
		max-width: 500px;
		margin-top: 0.5rem;
		border: none;
		border-bottom: 2px solid white;
		background-color: transparent;
		text-align: center;
		color: white;
		font-size: 1.5rem;
	}

	&__input:focus {
		outline: none;
	}

	&__item {
		margin-top: 1rem;
		display: none;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		&-title {
			text-transform: uppercase;
			font-weight: normal;
		}

		&-wrapper {
			display: inline-flex;
			align-items: center;
			gap: 5px;
		}
	}
}
