.footer {
	width: 90%;
	position: relative;
	align-self: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;

	&__quote {
		grid-column: 1 / 3;
		font-style: italic;
		text-align: center;
	}

	&__add-quote,
	&__todo {
		align-self: flex-end;
	}

	&__add-quote,
	&__todo-btn {
		justify-self: start;
		cursor: pointer;
		font-weight: normal;
	}

	&__todo {
		justify-self: end;

		&-btn {
			cursor: pointer;
			font-weight: normal;
		}

		&-modal {
			position: absolute;
			background-color: white;
			padding: 15px;
			right: 0;
			top: -260px;
			width: 300px;
			height: 300px;
			border-radius: 5px;
		}

		&-input {
			position: absolute;
			padding: 5px;
			bottom: 5px;
			border: none;
			font-size: 0.8rem;
		}

		&-input:focus {
			outline: none;
		}

		&-list {
			color: #000;

			li {
				display: flex;
				gap: 5px;
				align-items: center;
				font-size: 0.8rem;
			}
		}
	}
}
