@media (min-width: 700px) {
	.container {
		gap: 4rem;
	}

	.footer {
		grid-template-columns: repeat(3, 1fr);
		gap: 0;

		&__quote-btn,
		&__todo {
			align-self: center;
		}

		&__quote-btn {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}

		&__quote-modal,
		&__todo-modal {
			bottom: 70px;
		}

		&__quote {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}

		&__todo {
			grid-column: 3 / 4;
			grid-row: 2 / 3;
		}
	}
}
