@use "reset";

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e3e8ff;
}

.board {
	height: 648px;
	width: 648px;
	border: 4px solid slategray;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.tile {
	height: 80px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	color: #d2964d;

	&--black {
		background-image: url(../images/black-marble.jpg);
	}

	&--white {
		background-image: url(../images/white-marble.jpg);
	}

	&--black,
	&--white {
		background-size: cover;
	}
}

.ate {
	position: absolute;
	top: 3px;
	left: -80px;
}
