@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #fbf9f9;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #fbf9f9;
}

p {
  color: #97979f;
}

ul {
  list-style: none;
}

img,
video {
  width: 100%;
}

video :focus {
  border: none;
}

a {
  text-decoration: none;
}

* + * {
  margin-top: 1.5em;
}

.container,
.navbar {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  z-index: 15;
}
.navbar * {
  margin-top: 0;
}
.navbar__logo {
  display: flex;
  align-items: center;
}
.navbar__logo-img {
  margin-right: 5px;
}
.navbar__logo-name {
  font-weight: bold;
  font-size: 1.2rem;
}
.navbar__toggler {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 0;
  opacity: 0;
}
.navbar__toggler:checked ~ .navbar__menu {
  display: block;
  display: flex;
  align-items: center;
  bottom: -30px;
}
.navbar__menu {
  position: absolute;
  display: none;
  right: 0;
}
.navbar__menu-link {
  padding: 0 0.3rem;
}
.navbar__menu a {
  color: #000;
}
.navbar__back-btn-arrow {
  background-color: #fbf9f9;
  border: 1px solid #ccccd0;
  padding: 10px 15px;
  border-radius: 5px;
}
.navbar__back-btn-desc {
  display: none;
  color: #000;
}

.showcase {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}
.showcase h1 {
  font-size: 3rem;
}
.showcase__join span {
  color: #664efc;
  font-weight: bold;
}
.showcase__join-avatars {
  width: 200px;
}

.features {
  margin-top: 10rem;
}
.features a {
  color: #664ffc;
}
.features h2 {
  font-size: 2rem;
}
.features__link {
  display: block;
  font-weight: bold;
}

.form {
  margin-top: 8rem;
}
.form__features-box {
  display: flex;
  gap: 10px;
}
.form__features-box * {
  margin-top: 0;
}
.form__features-box p {
  color: black;
}
.form__features-box span {
  font-weight: bold;
}
.form__signup {
  background-color: #fbf9f9;
  padding: 1.8rem;
  border-radius: 10px;
  margin-top: 0;
}
.form__signup div {
  display: flex;
  flex-direction: column;
}
.form__signup div label {
  font-weight: bold;
}
.form__signup div input {
  padding: 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #97979f;
  border-radius: 5px;
}
.form__signup :nth-child(5) {
  flex-direction: row;
}
.form__signup :nth-child(5) input {
  margin-right: 10px;
  position: relative;
  top: 4px;
}
.form__signup :nth-child(5) input,
.form__signup :nth-child(5) label {
  margin-top: 0;
}
.form__signup :nth-child(5) label {
  font-weight: normal;
}
.form__signup :nth-child(5) label a {
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  margin-top: 8rem;
}
.footer * {
  margin-top: 0.8rem;
}
.footer p,
.footer a {
  color: #4f4f4f;
}
.footer__left :last-child {
  margin-top: 1.5rem;
}
.footer__right {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
}
.footer__right h3 {
  margin-top: 0;
}

.btn {
  background-color: #664efc;
  border: none;
  color: #fbf9f9;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
}
.btn--large {
  width: 100%;
}
.btn--free-txt {
  font-weight: normal;
  font-style: italic;
}

.pink-bg {
  background-color: #f9eef9;
}

@media (min-width: 700px) {
  p {
    font-size: 1.1rem;
  }

  .navbar {
    font-size: 1.1rem;
  }
  .navbar__toggler, .navbar__burger-menu {
    display: none;
  }
  .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__menu li {
    padding: 1rem;
  }
  .navbar__back-btn {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .navbar__back-btn-desc {
    display: block;
    font-weight: bold;
  }

  .showcase__illustration {
    max-width: 50%;
    align-self: center;
  }
  .showcase__description {
    width: 570px;
  }
  .showcase__description h1 {
    font-size: 3.5rem;
  }

  .features__box {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .features__box:first-of-type .features__illustration, .features__box:last-of-type .features__illustration {
    order: 1;
  }
  .features__box:last-of-type .features__illustration {
    flex: 1.5;
  }
  .features__box:last-of-type .features__description {
    flex: 1;
  }
  .features__box + .features__box {
    margin-top: 4rem;
  }
  .features__illustration {
    flex: 1;
  }
  .features__description {
    flex: 1.5;
  }

  .footer {
    display: flex;
    gap: 35px;
  }
  .footer__left, .footer__right {
    flex: 1;
  }
}
@media (min-width: 1000px) {
  .showcase {
    flex-direction: row;
  }
  .showcase__illustration {
    order: 1;
  }

  .form {
    display: flex;
  }
  .form__features, .form__signup {
    flex: 1;
  }
  .form__features {
    padding: 4.5rem;
  }
  .form__signup {
    padding: 3.5rem;
  }

  .footer__left {
    flex: 1;
  }
  .footer__right {
    flex: 2;
    grid-template: 1fr/repeat(4, 1fr);
  }
  .footer__right-box {
    display: grid;
    justify-content: end;
    align-content: start;
  }
}

/*# sourceMappingURL=main.css.map */
