@use "./config" as *;

body {
	font-family: $font-stack;
	background-color: $smoke-white;
}

p {
	color: $gray;
}

ul {
	list-style: none;
}

img,
video {
	width: 100%;
}

video {
	:focus {
		border: none;
	}
}

a {
	text-decoration: none;
}

* + * {
	margin-top: 1.5em;
}

.container {
	width: 90%;
	max-width: 1110px;
	margin: 0 auto;
}
