@use "./config" as *;

.btn {
	background-color: $light-purple;
	border: none;
	color: $smoke-white;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	padding: 1rem 1.5rem;
	font-size: 0.9rem;

	&--large {
		width: 100%;
	}

	&--free-txt {
		font-weight: normal;
		font-style: italic;
	}
}
