@use "./config" as *;

.btn {
	background-color: $light-purple;
	border: none;
	color: $smoke-white;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	padding: 0.8em 1.3em;
	font-size: 1rem;
	display: block;
	width: fit-content;

	&--expand {
		width: 100%;
	}

	&--free-txt {
		font-weight: normal;
		font-style: italic;
	}
}
