@use "./config" as *;

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	z-index: 15;

	* {
		margin-top: 0;
	}

	&__logo {
		display: flex;
		align-items: center;

		&-img {
			margin-right: 5px;
		}

		&-name {
			font-weight: bold;
			font-size: 1.2rem;
		}
	}

	&__toggler {
		height: 25px;
		width: 25px;
		position: absolute;
		right: 0;
		opacity: 0;

		&:checked ~ .navbar__menu {
			display: block;
			display: flex;
			align-items: center;
			bottom: -30px;
		}
	}

	&__menu {
		position: absolute;
		display: none;
		right: 0;

		&-link {
			padding: 0 0.3rem;
		}

		a {
			color: #000;
		}
	}

	&__back-btn {
		&-arrow {
			background-color: $smoke-white;
			border: 1px solid lighten($gray, 20%);
			padding: 10px 15px;
			border-radius: 5px;
		}

		&-desc {
			display: none;
			color: #000;
		}
	}
}
