@media (min-width: 700px) {
	p {
		font-size: 1.1rem;
	}

	.navbar {
		font-size: 1.1rem;

		&__toggler,
		&__burger-menu {
			display: none;
		}

		&__menu {
			display: flex;
			align-items: center;
			justify-content: center;

			li {
				padding: 1rem;
			}
		}

		&__back-btn {
			display: flex;
			align-items: center;
			gap: 15px;

			// &-arrow {

			// }

			&-desc {
				display: block;
				font-weight: bold;
			}
		}
	}

	.showcase {
		&__illustration {
			max-width: 50%;
			align-self: center;
		}

		&__description {
			width: 570px;

			h1 {
				font-size: 3.5rem;
			}
		}
	}

	.features {
		&__box {
			display: flex;
			align-items: center;
			gap: 40px;

			&:first-of-type .features__illustration,
			&:last-of-type .features__illustration {
				order: 1;
			}

			&:last-of-type .features__ {
				&illustration {
					flex: 1.5;
				}

				&description {
					flex: 1;
				}
			}

			+ .features__box {
				margin-top: 4rem;
			}
		}

		&__illustration {
			flex: 1;
		}

		&__description {
			flex: 1.5;
		}
	}

	.footer {
		display: flex;
		gap: 35px;

		&__left,
		&__right {
			flex: 1;
		}
	}
}

@media (min-width: 1000px) {
	.showcase {
		flex-direction: row;

		&__illustration {
			order: 1;
		}
	}

	.footer {
		&__left {
			flex: 1;
		}

		&__right {
			flex: 2;
			grid-template: 1fr / repeat(4, 1fr);

			&-box {
				display: grid;
				justify-content: end;
				align-content: start;
			}
		}
	}
}
