@use "./config" as *;

.showcase {
	display: flex;
	flex-direction: column;
	margin-top: 8rem;

	h1 {
		font-size: 3rem;
	}

	&__join {
		span {
			color: $light-purple;
			font-weight: bold;
		}

		&-avatars {
			width: 200px;
		}
	}
}
